<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta property="og:title" content="Diego Chavez"/>
    	<meta property="og:description" content="Personal Site"/>
        <meta property="og:url" content="https://www.dev.diegochavez-dc.com" />
		<meta property="og:image" content="https://avatars.githubusercontent.com/u/40433474?v=4"/>
        <meta name="description" content="Soy un desarrollador de software y analista digital, apasionado por la creación y desarrollo de interfaces web y marketing digital.">
        <link rel="canonical" href="https://dev.diegochavez-dc.com">

        <link rel="shortcut icon" type="image/x-icon" href="src/public/img/favicon.ico">
		<link rel="stylesheet" href="src/public/css/keyframes.css">
        <link rel="stylesheet" href="src/public/css/style.css">
        <link rel="stylesheet" href="src/public/css/light.css">

        <title>Diego Chavez | Desarrollador Web </title>

        <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-GJ8VHN3Y3G"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-GJ8VHN3Y3G');
		</script>
    </head>
    <body >
		<div id="app">
			<div style="display: none;" itemscope itemtype="https://schema.org/Person">
				<img src="src/public/img/profile.jpg" alt="photo" itemprop="image">
				<span itemprop="name"> Diego Jose Chavez Chirinos </span>
				<span itemprop="jobTitle">💻 Ingeniero en Informatica | 💻 Desarrollador Web Fullstack | 💻 Analista Digital</span>
				<span itemprop="telephone"> +58412-5264207</span>
				<span itemprop="email"> ingdiegochavez18@gmail.com </span>
				<span itemprop="url"> www.dev.diegochavez-dc.com</span>				
			</div>
			<!-- 
				PRELOADER
			-->
			<div class="loader">
				<div class="loader__container gfont">
					<div class="loader__hexagon">
					</div>
					<p class="loader__message" >Cargando Portafolio...</p>
					<img src="src/public/img/DC.png" alt="logo" class="logo_preloader">
				</div>
			</div>
		
			<div class="blanketBody"></div>
		
			<div class="control-actions">
				<span class="control-actions__menu"><i class="fas fa-align-justify"></i></span>
			</div>
		
			<div class="container__master">
                <!-- 
					MENU FOR MOBILE AND TABLET
			    -->
				<div class="myself__container__menu">
					<div class="myself__data">
						<div class="myself__data__container-avatar">
							<div class="myself__data__avatar"></div>
						</div>
						<div class="myself__data__info">
							<h4 class="myself__data__info__fullname gfont">{{name}} | {{lastName}}</h4>
							<p class="myself__data__info__role gfont">{{ profession }}</p>
						</div>
					</div>
		
					<ul class="myself__menu">
						<a href="#home" class="myself__menu__link myself__menu__link--active">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fa fa-home fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Inicio</p>
							</li>
						</a>
						<a href="#welcome" class="myself__menu__link">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fa fa-lightbulb fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Acerca de Mi</p>
							</li>
						</a>
						<a href="#portfolio" @click="portfolio = true" class="myself__menu__link">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fa fa-folder-open fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Portafolio</p>
							</li>
						</a>
						<a href="#stack" @click="stack = true" class="myself__menu__link">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Habilidades</p>
							</li>
						</a>
						<a href="#contact" @click="contact = true" class="myself__menu__link">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fa fa-address-book fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Contáctame</p>
							</li>
						</a>
						<a :href="medium" target="_blank" class="myself__menu__link">
							<li class="myself__menu__item">
								<span class="fa-stack fa-2x">
									<i class="fas fa-square fa-stack-2x"></i>
									<i class="fab fa-medium-m fa-stack-1x fa-inverse"></i>
								</span>
								<p class="text__menu_item gfont">Blog</p>
							</li>
						</a>
					</ul>
				</div>
		
				<section class="container__myself" >
					<span class="myself__menu__action"><i class="fas fa-align-justify"></i></span>
		
					<article class="myself">
						<div class="myself__profile">
							<div class="myself__container__avatar">
								<div class="myself__avatar"></div>
							</div>
							<img src="src/public/img/logo.png" alt="logos" class="logo__dc">
							<!-- <h1 class="myself__fullname gfont shadow-text"> Diego J. | <span class="myself_lastname">Chavez Ch.</span></h1> -->
							<p class="myself__description gfont">{{profession}}</p>
						</div>
						<div class="myself__footer">
							<div class="myself__footer__by">
								<p>{{phrase}}</p>
            					<p class="gfont"><em>{{author}}</em></p>
								<p class="myself_footer_years">© {{years}}</p>
							</div>
							<div class="myself__footer__social">
								<a class="myself__footer__link" :href="linkedin" target="_blank">
									<i class="fab fa-linkedin"></i>
								</a>
								<a class="myself__footer__link" :href="twitter" target="_blank">
									<i class="fab fa-twitter-square"></i>
								</a>
								<a class="myself__footer__link" :href="instagram" target="_blank">
									<i class="fab fa-instagram-square"></i>
								</a>
								<a class="myself__footer__link" :href="github" target="_blank">
									<i class="fab fa-github-square"></i>
								</a>
								<a class="myself__footer__link" :href="facebook" target="_blank">
									<i class="fab fa-facebook-square"></i>
								</a>
								<a class="myself__footer__link" :href="dribble" target="_blank">
									<i class="fab fa-dribbble"></i>
								</a>
								<a class="myself__footer__link" :href="behance" target="_blank">
									<i class="fab fa-behance-square"></i>
								</a>
							</div>
						</div>
					</article>
				</section>
		
				<!-- 
					CONTENTS
				-->
				<section class="container__articles">
					<nav class="menu">
					    <ul class="menu-list">
					        <a href="#welcome" class="menu-list__link menu-list__link--active">
					        	<div class="menu__description gfont">
					        		<li class="menu-list__item">Acerca de mi</li>
					        	</div>
					        </a>
                            <a href="#portfolio" @click="portfolio = true" class="menu-list__link">
								<div class="menu__description gfont">
					        		<li class="menu-list__item">Portafolio</li>
					        	</div>
					        </a>
					        <a href="#stack" @click="stack = true" class="menu-list__link">
					        	<div class="menu__description gfont">
					        		<li class="menu-list__item">Habilidades</li>
					        	</div>
					        </a>
					        <a href="#contact" @click="contact = true" class="menu-list__link">
								<div class="menu__description gfont">
					        		<li class="menu-list__item">Contáctame</li>
					        	</div>
					        </a>
					        <a :href="medium" target="_blank" class="menu-list__link">
								<div class="menu__description gfont">
					        		<li class="menu-list__item">Blog</li>
					        	</div>
					        </a>
					    </ul>
					</nav>

					<article class="welcome article--show" id="welcome">
					    <h2 class="welcome__title gfont">¡Bienvenido!</h2>
					    <p class="welcome__description">
							<i class="fas fa-arrow-circle-right"></i>
							{{ p1 }} 
					    </p>
						<p class="welcome__description">
							<i class="fas fa-arrow-circle-right"></i>
							{{ p2 }}
						</p>
						<p class="welcome__description">
							<i class="fas fa-arrow-circle-right"></i>	 
							{{ p3 }} 
					    </p>
						<div class="container__card">
							<div class="card"  v-for="service in services">
								<div class="content">
									<div class="front degraded shadow-intro-front">
										<i :class="service.icon" aria-hidden="true"></i>
										<p class="card__title shadow-text gfont service__title">{{ service.name }}</p>
									</div>
									<div class="back shadow-intro">
										<div class="container__description">
											<span class="text-service gfont">{{ service.description }}</span>
									   </div>
									</div>
								</div>
							</div>
						</div>

                        <div class="welcome__buttons">
                            <a href="src/doc/CV-Español.pdf" target="__blank" class="cstm__button gfont shadow-intro-front shadow-text">
                                Descargar CV <i class="fas fa-file-download"></i>
                            </a>

                            <a :href="linkedin" target="__blank" class="cstm__button gfont shadow-intro-front shadow-text">
                                Perfil de <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
					</article>

					<!-- 
						STACK SECTION
					-->
					<article class="stack" id="stack">
						<template v-if="stack">
							<h2 class="stack__title gfont">Habilidades</h2>
							<p class="stack__description">Me caracterizo por ser una persona autodidacta, me encanta y disfruto de aprender herramientas  nuevas que me lleven a nuevos retos y a dar solución de algún problema o necesidad, lo que me ha ayudado a lo largo de todos estos años a fortalecer y mejorar mis habilidades en diferentes tecnologias y herramientas. </p>
							
							<p class="text__skill skill__title gfont shadow-text shadow degraded">Front - End</p>
							<div class="skill_content">
								<div v-for="tools in frontend" class="skill__item">
									<img :src='tools.img' alt="tools.name" class="skill__log shadow"/>
									<span class="text__skill gfont" >{{tools.name}}</span> 
								</div>
							</div>
							
							<!--@mouseover="show[] = true" @mouseleave="show[] = false"
								
								v-show="show" -->

							<p class="text__skill skill__title gfont shadow-text shadow degraded">Back - End</p>
							<div class="skill_content">
								<div v-for="tools in backend" class="skill__item">
									<img :src='tools.img' alt="tools.name" class="skill__log shadow"/>
									<span class="text__skill gfont" >{{tools.name}}</span> 
								</div>
							</div>

							<p class="text__skill skill__title gfont shadow-text shadow degraded">Base de Datos</p>
							<div class="skill_content">
								<div v-for="tools in bd" class="skill__item">
									<img :src='tools.img' alt="tools.name" class="skill__log shadow"/>
									<span class="text__skill gfont" >{{tools.name}}</span> 
								</div>
							</div>

							<p class="text__skill skill__title gfont shadow-text shadow degraded">Herramientas</p>
							<div class="skill_content">
								<div v-for="tools in tools" class="skill__item">
									<img :src='tools.img' alt="tools.name" class="skill__log shadow"/>
									<span class="text__skill gfont" >{{tools.name}}</span> 
								</div>
							</div>

							<p class="text__skill skill__title gfont shadow-text shadow degraded">Servidores</p>
							<div class="skill_content">
								<div v-for="tools in server" class="skill__item">
									<img :src='tools.img' alt="tools.name" class="skill__log shadow"/>
									<span class="text__skill gfont" >{{tools.name}}</span> 
								</div>
							</div>
						</template>
					</article>

					<!-- 
						PROJECTS SECTION
					-->
					<article class="portfolio" id="portfolio">
						<template v-if="portfolio">
							<div class="container__portfolio" >
								<h2 class="portfolio__title gfont">Mi Portafolio</h2>
								<p class="portfolio__description">En esta sección encontrarás los proyectos en los que he trabajado, también encontrarás algunas pruebas e inventos. Todo lo que sé hacer con las herramientas que uso.</p>
								<blockquote class="portfolio__blockquote">Puedes encontrar más información sobre mis proyectos en mis perfiles de <strong>Github</strong>, <strong>GitLab</strong>, <strong>Dribble</strong> o <strong>
									Behance</strong>.</blockquote>

								<div class="port__menu shadow">
									<ul class="port__list">
										<a @click="filterByTools='nodejs'" class="port-list__link port-list__link--active">
											<div class="port__description gfont">
												<li class="port-list__item">
													<img src="src/public/img/logos/nodejs.svg" class="lenguage__log" alt="nodejs">
												</li>
											</div>
										</a>
										<a @click="filterByTools='php'" class="port-list__link">
											<div class="gfont">
												<li class="port-list__item">
													<img src="src/public/img/logos/php.png" class="cstm__log" alt="php">
												</li>
											</div>
										</a>
										<a @click="filterByTools='css'" class="port-list__link">
											<div class="gfont">
												<li class="port-list__item">
													<img src="src/public/img/logos/css-3.svg" class="lenguage__log" alt="css">
												</li>
											</div>
										</a>
										<a @click="filterByTools='bootstrap'" class="port-list__link">
											<div class="gfont">
												<li class="port-list__item">
													<img src="src/public/img/logos/bootstrap-4.svg" class="lenguage__log" alt="bootstrap">
												</li>
											</div>
										</a>
										<a @click="filterByTools='vuejs'" class="port-list__link">
											<div class="gfont">
												<li class="port-list__item">
													<img src="src/public/img/logos/vue.svg" class="lenguage__log" alt="vuejs">
												</li>
											</div>
										</a>
									</ul>
								</div>

								<div class="container__item" >
									<div class="card-container degraded shadow" v-for="project in filterTools">
										<img class="round" :src="project.img" alt="tools" />
										<h3 class="project__name gfont shadow-text">{{project.name}}</h3>
										<h4 class="project__rol">{{ project.rol }}</h4>
										<p class="project__descripcion">{{project.description}}</p>
										<div class="buttons">
											<template v-if="project.code">
												<a :href="project.gh" title="Código" target="_blank" class="btn__code"><i class="fa fa-github" aria-hidden="true"></i></a>
											</template>
											<template v-if="project.demo_verify">
												<a :href="project.demo" title="Demo" target="_blank" class="btn__code bg"><i class="fa fa-laptop" aria-hidden="true"></i></a>
											</template>
										</div>
										<!-- <div class="skills">
											<h6 class="project__skill">Skills</h6>
											<ul  v-for="tools in project.tools" class="skills__project__item">
												<li><i id="icon" :class="tools.icon" :style='tools.style' :title="tools.name"></i></li>
											</ul>
										</div> -->
									</div>
								</div>								
							</div>	
						</template>
					</article>

					<!-- 
						CONTACTS SECTION
					-->
					<article class="contact" id="contact">
						<template v-if="contact">
							<h2 class="contact__title gfont">CONTACTAME</h2>
    						<p class="contact__description"> ¿Necesitas soluciones tecnológicas para ti o tu empresa?
        						Has llegado al lugar indicado. No dudes en ponerte en contacto conmigo. 
    						</p>

        					<div class="contact__container">
        						<div class="contact__info">
        							<div class="contact__data">
        								<p class="contact__label gfont">
        									<i class="fa fa-mobile" aria-hidden="true"></i>
        									Teléfono:
	        							</p>
	        							<p class="contact__value">{{ phone }}</p>

										<p class="contact__label gfont">
		        							<i class="fa fa-envelope-o" aria-hidden="true"></i>
	    	    							Email:
	        							</p>
	        							<p class="contact__value">{{ email }}</p>

										<p class="contact__label gfont">
											<i class="fa fa-globe" aria-hidden="true"></i>
	    	    							Sitio Web:
	        							</p>
	        							<p>
											<a :href="url" class="direction__web">
										    	{{ url }}
											</a>
	        							</p>
										<p class="contact__label gfont">
											<i class="fa fa-comments-o" aria-hidden="true"></i>
											Mensajería Instantánea:
										</p>
										<span class="contact__im">
											<a class="contact__link" :href="whatsapp" target="_blank">
												<span class="fa-stack fa-2x">
													<i class="fas fa-square fa-stack-2x"></i>
													<i class="fa fa-whatsapp fa-stack-1x fa-inverse"></i>
												</span>
											</a>
										</span>
        							</div>
        						</div>

								<template v-if="form">
									<div class="content__form">
										<div class="form">
											<div class="form__container gfont">
												<div class="form__item">
													<input class="input" type="text" required id="name" v-model="name_contact"/>
													<label class="label" for="name"> 
														<i class="fa fa-id-card-o" aria-hidden="true"></i>
														Nombre y Apellido
													</label>
												</div>
												<div class="form__item">
													<input class="input" type="email" required id="email" v-model="email_contact"/>
													<label class="label" for="email"> 
														<i class="fa fa-envelope-o" aria-hidden="true"></i>
														Correo
													</label>
												</div>
												<div class="form__item">
													<input class="input" type="phone" required id="phone" v-model="phone_contact"/>
													<label class="label" for="phone"> 
														<i class="fa fa-mobile" aria-hidden="true"></i>
														Teléfono
													</label>
												</div>
												<div class="form__item">
													<textarea class="textarea" required id="message" v-model="message_contact"> 
													</textarea>
													<label class="label" for="textarea">  
														<i class="fa fa-commenting-o" aria-hidden="true"></i>
														Mensaje
													</label>
												</div>
												<div class="form__item">
													<button class="btn__send" v-on:click="sendMessage">
														Enviar Mensaje
														<i class="fa fa-paper-plane-o" aria-hidden="true"></i>
													</button>
												</div>
											</div>
										</div>
									</div>
								</template>
    						</div>   
						</template>
					</article>
				</section>
			</div>
		</div>
		
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script> -->
        <script src="src/public/js/vue@2.6.12.js"></script>
		<script src="src/public/js/info.js"></script>
		<script src="https://kit.fontawesome.com/74a0a4aba0.js"></script>
		<script src="src/public/js/main.js"></script>
		<script src="//code.tidio.co/c59sbszefpmzehgck1no2l1ej5wzljqh.js" async></script>
		<!-- <script src="https://cdn.emailjs.com/dist/email.min.js" type="text/javascript"></script> -->
		<!-- <script type="text/javascript">
			(function(){
    			emailjs.init("user_Gki1y2uTpaE1X71KX5xko");
			})();
		</script> -->
	</body>
</html>