@import url('sty_Keyframes.css');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Lobster&family=Permanent+Marker&display=swap');

body {
	font-family: sans-serif;
	font-size: 12px;
}

.article--hide {
	left: -100%;
	-o-animation-name: hideOut;
	-ms-animation-name: hideOut;
	-webkit-animation-name: hideOut;
	-moz-animation-name: hideOut;
	animation-name: hideOut;
	-o-animation-duration: .5s;
	-ms-animation-duration: .5s;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s
}

.article--show {
	left: 0;
	-o-animation-name: showUp;
	-ms-animation-name: showUp;
	-webkit-animation-name: showUp;
	-moz-animation-name: showUp;
	animation-name: showUp;
	-o-animation-duration: .5s;
	-ms-animation-duration: .5s;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s
}

@-moz-keyframes showUp {
	from {
		top: 100%
	}
	to {
		top: 0
	}
}

@-webkit-keyframes showUp {
	from {
		top: 100%
	}
	to {
		top: 0
	}
}

@-o-keyframes showUp {
	from {
		top: 100%
	}
	to {
		top: 0
	}
}

@keyframes showUp {
	from {
		top: 100%
	}
	to {
		top: 0
	}
}

@-moz-keyframes hideOut {
	from {
		left: 0
	}
	to {
		left: -100%
	}
}

@-webkit-keyframes hideOut {
	from {
		left: 0
	}
	to {
		left: -100%
	}
}

@-o-keyframes hideOut {
	from {
		left: 0
	}
	to {
		left: -100%
	}
}

@keyframes hideOut {
	from {
		left: 0
	}
	to {
		left: -100%
	}
}

@-moz-keyframes loaderHexagon {
	from {
		-o-transform: rotate3d(0, 1, 0, 0);
		-ms-transform: rotate3d(0, 1, 0, 0);
		-webkit-transform: rotate3d(0, 1, 0, 0);
		-moz-transform: rotate3d(0, 1, 0, 0);
		transform: rotate3d(0, 1, 0, 0)
	}
	to {
		-o-transform: rotate3d(0, 1, 0, 180deg);
		-ms-transform: rotate3d(0, 1, 0, 180deg);
		-webkit-transform: rotate3d(0, 1, 0, 180deg);
		-moz-transform: rotate3d(0, 1, 0, 180deg);
		transform: rotate3d(0, 1, 0, 180deg)
	}
}

@-webkit-keyframes loaderHexagon {
	from {
		-o-transform: rotate3d(0, 1, 0, 0);
		-ms-transform: rotate3d(0, 1, 0, 0);
		-webkit-transform: rotate3d(0, 1, 0, 0);
		-moz-transform: rotate3d(0, 1, 0, 0);
		transform: rotate3d(0, 1, 0, 0)
	}
	to {
		-o-transform: rotate3d(0, 1, 0, 180deg);
		-ms-transform: rotate3d(0, 1, 0, 180deg);
		-webkit-transform: rotate3d(0, 1, 0, 180deg);
		-moz-transform: rotate3d(0, 1, 0, 180deg);
		transform: rotate3d(0, 1, 0, 180deg)
	}
}

@-o-keyframes loaderHexagon {
	from {
		-o-transform: rotate3d(0, 1, 0, 0);
		-ms-transform: rotate3d(0, 1, 0, 0);
		-webkit-transform: rotate3d(0, 1, 0, 0);
		-moz-transform: rotate3d(0, 1, 0, 0);
		transform: rotate3d(0, 1, 0, 0)
	}
	to {
		-o-transform: rotate3d(0, 1, 0, 180deg);
		-ms-transform: rotate3d(0, 1, 0, 180deg);
		-webkit-transform: rotate3d(0, 1, 0, 180deg);
		-moz-transform: rotate3d(0, 1, 0, 180deg);
		transform: rotate3d(0, 1, 0, 180deg)
	}
}

@keyframes loaderHexagon {
	from {
		-o-transform: rotate3d(0, 1, 0, 0);
		-ms-transform: rotate3d(0, 1, 0, 0);
		-webkit-transform: rotate3d(0, 1, 0, 0);
		-moz-transform: rotate3d(0, 1, 0, 0);
		transform: rotate3d(0, 1, 0, 0)
	}
	to {
		-o-transform: rotate3d(0, 1, 0, 180deg);
		-ms-transform: rotate3d(0, 1, 0, 180deg);
		-webkit-transform: rotate3d(0, 1, 0, 180deg);
		-moz-transform: rotate3d(0, 1, 0, 180deg);
		transform: rotate3d(0, 1, 0, 180deg)
	}
}

.container__articles {
	overflow-x: hidden;
	overflow-y: scroll
}

.welcome,
.portfolio,
.contact,
.stack,
.academic,
.work {
	display: none;
	position: relative;
	padding: 0 4rem;
	align-items: center;
}

.welcome__title,
.portfolio__title,
.contact__title,
.stack__title,
.service__title,
.academic__title,
.work__title,
.card__title {
	font-family: 'Kalam', cursive;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: .5rem;
	text-align: center;
}

.welcome__description,
.portfolio__description,
.contact__description,
.stack__description,
.work__description {
	margin: .5rem 0 0;
	text-align: justify;
}

.container-master {
	display: flex;
}

.service__title{
	margin: 2%;
}

.contact__label{
	font-weight: bold;
	font-size:14px;
}

.container-master .container__myself {
	background: url("../img/background.jpeg") center/cover;
	height: 100vh;
	position: relative;
	width: 30%;
	z-index: 2;
}

.container-master .container__myself:after {
	content: "";
	height: 100%;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

.container-master .container__articles {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 100vh
}

.menu {
	align-items: center;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	z-index: 1;
}

.menu__description {
	font-family: 'Kalam', cursive;
	font-size: 10px;
	padding: 10%;
	width: 70%;
}

.menu__description:hover {
	-moz-animation: 1.5s click 1;
	-webkit-animation: 1.5s click 1;
	-o-animation: 1.5s click 1;
}

.menu-list {
	display: flex;
	margin: 0;
	padding: 0;
	width: 90%;
}

.menu-list__link {
	width: 100%;
	font-size: 12px;
	text-transform: uppercase;
	list-style-type: none;
	text-decoration: none;
	position: relative;
}

.menu-list__link:last-child {
	border-right: 0
}

.menu-list__link:hover {
	-o-transition: 0.5s ease all;
	-ms-transition: 0.5s ease all;
	-webkit-transition: 0.5s ease all;
	-moz-transition: 0.5s ease all;
	transition: 0.5s ease all;
}

.menu-list__link--active .menu-list__item {
	padding: 0px;
}

.menu-list__link .menu-list__item {
	display: flex;
	align-items: center;
	padding: 0px;
}

.menu-list__link .menu-list__item .fa,
.menu-list__link .menu-list__item .fab {
	padding: 0px;
}

.icon-item {
	width: 20%;
	float: right;
	padding: 5%;
}

.myself {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
}

.myself__container__avatar {
	margin: 0;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

.myself__avatar {
	background-image: url("../img/profile.jpeg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: 5%;
	width: 90%;
	height: 90%;
}

.myself__container__menu,
.myself__menu__action {
	display: none
}

.myself__profile {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	text-align: center
}

.myself__container-logo {
	margin: 0;
	width: 70%;
}

.myself__logo {
	width: 100%
}

.myself__fullname {
	font-size: 1.9rem;
	margin: .9rem 0 0;
	font-weight: 300
}

.myself__description {
	margin: 0 0 .5rem;
	font-size: 18px;
}

.myself__footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.myself__footer__by {
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
}

.myself__footer__by p {
	margin: .4rem 0
}

.myself_footer_phrase {
	font-size: 12px;
}

.myself_footer_years {
	text-align: right;
	padding-right: 10px;
}

.myself__footer__social {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.myself__footer__social .myself__footer__link {
	padding: 0 .5rem;
	text-decoration: none;
	font-size: 1.6rem;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contact {
	flex-flow: column;
	align-items: center;
}

.contact__description {
	margin-bottom: 2rem
}

.container__description{
	margin: 20px 0 0 10px;
	padding: 15px;
}

.portfolio {
	flex-direction: column;
	align-items: center;
}

.portfolio__blockquote {
	padding: .5rem .4rem;
	width: 60%;
	margin: 1rem auto;
	font-size: 12px;
}

.portfolio__works {
	display: flex;
	flex-flow: row wrap;
}

.portfolio__works__item {
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
	justify-content: space-between;
	margin: .2rem;
}

.portfolio__works__item__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
}

.portfolio__works__item__header__logo {
	width: 16%
}

.portfolio__works__item__header__title {
	letter-spacing: 1px;
	font-family: 'Rambla', monospace;
}

.portfolio__works__item__resume {
	margin: .5rem .5rem 0;
	padding-bottom: 1rem
}

.portfolio__works__tools {
	display: flex;
	justify-content: space-between;
	margin: 0 .5rem .5rem;
	padding-top: .5rem;
}

.portfolio__works__tools__role {
	font-size: 12px;
}

.welcome {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.welcome__description,
.contact__description,
.stack__description,
.academic__description,
.work__description {
	margin-bottom: 1.0rem;
}

.welcome__objetives,
.contact__services {
	margin: 0.5rem;
}

.img_construct {
	grid-area: img;
	max-height: 400px;
}

.welcome__container-stack {
	display: flex;
	flex-flow: column wrap;
	width: 65%;
}

.welcome__stack {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: .1rem 0;
	padding: .5rem;
}

.welcome__stack__title {
	margin: 0;
	font-size: .85rem;
	letter-spacing: 1px;
	text-transform: uppercase
}

.welcome__stack__tool {
	align-self: center;
	/* display: flex; */
	font-size: 12px;
	margin: 0 .5rem;
	/* width: 35%; */
	min-height: 20%;
	display: inline-block;
}

.welcome__stack__tool img {
	width: 25px;
	height: 100%
}

.loader {
	display: flex;
	height: 100vh;
	justify-content: center;
	position: absolute;
	width: 100vw;
	z-index: 999;
}

.loader__container {
	align-items: center;
	align-self: center;
	display: flex;
	flex-direction: column
}

.loader__message {
	margin-top: 2.3rem;
}

.welcome__objetives {
	margin-bottom: 10px;
}

.loader__hexagon {
	-o-animation: loaderHexagon 1.2s linear infinite forwards;
	-ms-animation: loaderHexagon 1.2s linear infinite forwards;
	-webkit-animation: loaderHexagon 1.2s linear infinite forwards;
	-moz-animation: loaderHexagon 1.2s linear infinite forwards;
	animation: loaderHexagon 1.2s linear infinite forwards;
	height: 57.74px;
	opacity: 1;
	-ms-filter: none;
	filter: none;
	position: relative;
	width: 100px;
}

.loader__hexagon:after,
.loader__hexagon:before {
	content: "";
	position: absolute;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent
}

.loader__hexagon:after {
	top: 100%;
	width: 0
}

.loader__hexagon:before {
	bottom: 99%;
}

.control-actions {
	display: none
}

.stack__description,
.work__description,
.academic_description {
	font-size: 12px;
	margin-right: 1rem;
}

.stack {
	flex-direction: column;
	align-items: center;
}

.stack__works__item {
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
	justify-content: space-between;
	margin: .2rem;
}

.stack__works__item__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
}

.stack__works__item__header__logo {
	width: 16%
}

.stack__works__item__header__title {
	letter-spacing: 1px;
	font-family: 'Rambla', monospace;
}

.stack__works__item__resume {
	margin: .5rem .5rem 0;
	padding-bottom: 1rem
}

.stack__works__tools {
	display: flex;
	justify-content: space-between;
	margin: 0 .5rem .5rem;
	padding-top: .5rem;
}

input,
textarea {
	border: 0;
	outline: 0;
	font-size: 12px;
	background: transparent;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

textarea {
	resize: none;
}

.form {
	max-width: 600px;
	margin: 0 auto;
	border-radius: 0.5rem;
}

.form__container {
	display: flex;
	flex-wrap: wrap;
}

.form__item {
	position: relative;
	width: 100%;
	padding: 1em;
}

.form__item .textarea {
	height: 10em;
}

.form__item .input,
.form__item .textarea {
	display: block;
	padding: 1em;
	width: 92%;
	transition: all 0.3s;
}

.form__item .input:valid+ .label,
.form__item .textarea:valid+ .label,
.form__item .input:focus+ .label,
.form__item .textarea:focus+ .label {
	top: 0.5em;
	left: 1em;
	font-size: 0.9em;
}

.form__item .label {
	position: absolute;
	top: 1.5em;
	left: 2em;
	transition: all 0.3s;
	font-weight: bold;
}

.form__item .btn__send {
	display: block;
	width: 100%;
	padding: 1em 0;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 5px;
}

.form__item .btn__send:active {
	transform: scale(0.97);
}

.stack__log {
	width: 33%;
	margin: 4%;
}

.text-stack {
	margin: 4%;
	text-align: justify;
}

.stack__log:hover {
	margin-bottom: 5%;
}

.work_container,
.academic_container {
	width: 100%;
}

.work_country,
.study_country {
	width: 2rem;
	height: 2rem;
}

.contact__info {
	margin: 0 auto;
	padding-left: 10px;
	padding-top: 10px;
	/* float: left; */
	position: relative;
	height: auto;
	padding-top: 10px;
	padding-left: 10px;
}

.content__form {
	/* margin: 0 auto; */
	padding-top: 10px;
	/* padding-left: 10px; */
	position: relative;
	/* float: left; */
	height: auto;
}

.contact__container {
	width: 100%;
}

.contact__data {
	margin: 0 auto;
	border-radius: 0.5rem;
	padding: 10px;
}

.myself__data__info__fullname,
.myself__fullname,
.record__title {
	font-family: 'Kalam', cursive;
}

.container__myself:hover {
	filter: brightness(1.3);
}

.contact__im:hover{
	filter: brightness(1.3);
}

.contact__link{
	font-size: 16px;
}

.direction__web{
	text-decoration: none;
}

@media (min-width:768px) and (max-width:991px){
	
	.record_wrap, .services_wrap {
		width: 100%;
	}

	.contact__data {
		width: 85%;
	}
}

@media screen and (max-width:991px) {
	body{
		overflow: hidden;
		position: relative
	}

	.blanketBody {
		display: none;
		height: 100vh;
		opacity: .4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 4
	}

	.myself {
		position: relative;
		border: none;
	}
	.myself__container__avatar {
		width: 15rem;
		height: 15rem
	}
	.myself__fullname {
		font-size: 2rem
	}
	.myself__profile {
		font-size: 1rem
	}
	.myself__menu__action {
		display: block;
		position: absolute;
		font-size: 1.6rem;
		left: .9rem;
		top: 1rem;
		z-index: 1
	}
	.myself__container__menu {
		display: block;
		height: 100vh;
		left: -100%;
		position: fixed;
		top: 0;
		width: 40%;
		z-index: 11;
	}
	.myself__data {
		display: flex;
		align-items: center;
		padding: 1.5rem .4rem;
	}
	.myself__data__container-avatar {
		margin: .5rem .5rem 0 0;
		height: 4rem;
		width: 4rem
	}
	.myself__data__avatar {
		background-image: url("../img/profile.jpeg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50px;
		width: 100%;
		height: 70%
	}
	
	.myself__data__info__fullname, .myself__data__info__role {
		margin: 0;
		letter-spacing: .8px
	}
	.myself__data__info__role {
		font-size: .8rem;
		padding: 15px;
	}
	.myself__menu {
		padding: 1.5rem 1rem;
		margin: 0;
	}
	.myself__menu__item {
		display: flex;
		align-items: center;
		font-size: .9rem;
	}
	.myself__menu__item:hover {
		-moz-animation: 1.0s flash 1;
		-webkit-animation: 0.7s flash 1;
		-o-animation: 0.7s flash 1;
	}
	.myself__menu__link {
		display: block;
		font-size: 1rem;
		padding: 1rem 0;
		text-decoration: none;
		text-transform: uppercase;
	}
	.myself__menu__link .fa-stack {
		font-size: .9rem;
		margin-right: .5rem;
	}
	.myself__menu__link--active__soon {
		font-size: .6rem;
		margin-left: .4rem;
		padding: .2rem .3rem;
		border-radius: 3px;
	}
	.myself__menu__link--active .material-icons {
		padding-right: .5rem;
	}

	.control-actions {
		height: 3.5rem;
		top: 0;
		position: absolute;
		width: 100vw;
		z-index: 9;
	}
	.control-actions__menu {
		padding: .5rem .9rem;
		font-size: 1.6rem
	}
	.container-master {
		flex-direction: column;
	}
	.container-master .container__myself,
	.container-master .container__articles {
		width: 100%
	}
	.container__articles {
		display: none
	}

	.welcome, .portfolio,
	.contact, .stack,
	.work, .academic {
		display: none;
		margin-top: 3.6rem;
	}
	
	.menu {
		display: none
	}

	.record_wrap,.services_wrap {
      margin: 1rem auto;
      margin-bottom: 1.6%;
      line-height: 1.4;
      font-family: sans-serif;
      border-radius: 5px;
      overflow: hidden;
      z-index: 0;
      display: inline-block;
	  width: 100%;
    }

    .record,.service {
      flex-direction: column;
      margin: 1rem auto;
      margin-bottom: 1.6%;
      line-height: 1.4;
      font-family: sans-serif;
      border-radius: 5px;
      z-index: 0;
    }

	.contact__container{
		margin-bottom: 3%;
	}

	.record, .service{
		height: 15rem; 
	}

	.welcome__stack__tool {
		width: 12%;
		margin: 0.5rem 0.5rem;
		text-align: center;
	}

	.welcome__stack {
		align-items: flex-start;
		flex-direction: column;
	}
	.welcome__stack__title {
		font-size: 1rem;
		margin-bottom: .2rem;
		padding-bottom: .2rem
	}

	.myself__container__menu {
		width: 70%
	}

	.card_tools, .card_more {
		width: 80%;
	}

	.card_link{
		display: inline-flex;
	}

	.card_tools{
		width: 70%;
	}

	.card_more{
		width: 20%;
	}
}



@media (min-width: 992px) 
/* and (max-width: 1199px) */
{
	.record_wrap, .services_wrap {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin: 2%;
	}

	.blog-card {
		display: inline-block;
	}

	.card_link{
		display: flex;
	}
	.record, .service{
		height: 16rem;
	}

	.record,.service, .blog-card{
  		width: 48%;
	}

	.contact__form{
		padding-left: 10px;
		margin-bottom: 3%;
	}

	.myself__profile {
		font-size: .9rem
	}

	.myself__fullname {
		font-size: 1.6rem
	}
	.menu-list__link {
		font-size: .85rem
	}

	.menu-list {
		width: 100%;
	}

	.welcome__stack__tool {
		width: 22%;
		margin: 0.5rem 0.5rem;
		text-align: center;
	}

	.card_tools, .card_more {
		width: 80%;
	}

	.card_link{
		display: inline-flex;
	}

	.card_tools{
		width: 70%;
	}

	.card_more{
		width: 20%;
	}

	.blog-card {
		margin: 0.6%;
	}
	
	.contact__info, .contact__form{
		float: left;
	}

	.contact__container {
		display: inherit;
	}

	.content__form {
		margin-left: 10px;
	}
}

/* @media and (min-width: 1200px){
	.header__menu-list__link {
		padding: 1.5rem 2rem
	}
	.welcome,
	.portfolio,
	.contact,
	.stack,
	.work,
	.academic {
		padding: 0 2rem;
		margin: 1rem 0
	}
	.myself__footer__by {
		font-size: 1.2rem
	}
	.myself__footer__social .myself__footer__link {
		font-size: 3rem
	}
} */