body{
    background: #1f3438;
} 

.shadow-text{
    text-shadow: 1px 1px 3px #fff;
}

input, textarea, 
p,.record-desc,
.container-master,
.menu-list__link--active, .myself_footer_phrase,
.myself__footer__social, .myself__footer__link,
.form__item .label, .form__item .btn__send:hover,
.direction__web, .icon, .record__title,
.service__title, .blog-card .details,
.contact__value,.text-stack, 
.menu__description, .portfolio__blockquote{
	color: #fff;
}

a, .contact__label,
.welcome__title, .portfolio__title,
.contact__title,.stack__title,
.academic__title,
.work__title, .blog-card, 
.description, .read-more, 
.blog-card, .icon-item,
.menu-list__link:hover,
.myself_lastname, .form__item .btn__send,
.tagline, .welcome__community  {
	color: #007BB5;
}

.myself__footer__social{
	color: #37474f;
}

.portfolio__repos:hover {
	color: #b1cbcd
}

.portfolio__works__item__header__title__link {
	color: #ffa500
}

.portfolio__works__tools__role, .stack__works__tools__role {
	color: #777;
}

.fa-linkedin:hover,
.fa-instagram-square:hover,
.fa-github-square:hover,
.fa-twitter-square:hover,
.fa-facebook-square:hover,
.fa-dribbble:hover,
.fa-behance-square:hover {
	color: #4392f1;
}

.welcome__community:hover, .stack__repos:hover {
	color: #119da4
}

.welcome__stack__title {
	color: #878787;
}

.loader__message {
	color: #f5f0f6
}

.stack__works__item__header__title__link {
	color: #ffa500
}

.contact__link{
	color: #25D366;
}

.blog-card .description h2 {
	color: #a2a2a2;
}

.container-master .container__myself:after,
.portfolio__repos, .stack__repos {
	background-color: #2e3436;
}

.portfolio__blockquote{
	background-color: rgba(17, 157, 164, 0.1);
}

.portfolio__works__item__header,
.stack__works__item__header {
	background-color: #f5f0f6;
}

.loader, .record,
.service, .contact__data,
.card__description, .blog-card{
	background-color: #37474f;
}

.loader__hexagon, .form__item 
.btn__send:hover {
	background-color: #007BB5;
}

.form__item .btn__send,
 .description {
	background-color: #fff;
}

.degraded, #service,
.form{
    background: rgb(55,71,79);
    background: linear-gradient(35deg, rgba(55,71,79,1) 0%, rgba(0,123,181,1) 50%, rgba(12,35,143,1) 100%);
}

.details {
	background: rgba(0, 0, 0, .6);
}

.blog-card p:first-of-type:before {
	background: rgb(55,71,79);
}

.myself__avatar, .myself__container__avatar {
	border: 1.5px solid #007BB5;
}

.portfolio__works__item, .stack__works__item {
	border: 1px solid #f5f0f6;
}

.contact__data {
	border: 2px solid rgb(0, 123, 181);
}

.portfolio__works__tools, .stack__works__tools {
	border-top: 1px solid #f5f0f6;
}

.loader__hexagon:after {
	border-top: 28.87px solid #007BB5;
}

.portfolio__blockquote {
	border-left: 4px solid #007BB5;
}

.menu-list__link:nth-child(n+0) {
	border-right: 1px solid #dedede;
}

.welcome__title, .portfolio__title,
.contact__title,.stack__title,
.service__title,.academic__title,
.work__title {
    border-bottom: 1px solid #f5f0f6;
}

.loader__hexagon:before {
	border-bottom: 28.87px solid #007BB5;
}

input, textarea,
.form__item .input, .form__item .textarea  {
	border-bottom: 2px solid #fff;
}

.form__item .input:focus, .form__item .textarea:focus 
.form__item .input:valid, .form__item .textarea:valid{
	border-bottom: 2px solid #00c9db;
}

.menu-list__link--active{
    text-shadow: 2px 2px 5px #007BB5;
    text-decoration: underline;
}

.myself__container__avatar {
	box-shadow: 2px 1px 2px #fff;
}

.container__myself {
	box-shadow: 1px 1px 5px #fff;
}

.portfolio__works__item, .stack__works__item{
	-webkit-box-shadow: 1px 1px 5px #f5f0f6;
	box-shadow: 1px 1px 5px #f5f0f6;
}

.form, .contact__data {
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.blog-card {
	box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
}

.form__item .btn__send {
	box-shadow: 0 0 0 2px #fff;
}

.form__item .btn__send:hover {
	box-shadow: 0 0 0 0 transparent;
}


@media screen and (max-width:950px) {
    .blanketBody,
    .myself__container__menu {
		background: #1f3438;
	}

    .control-actions, .myself__data__info,
    .myself__menu__link{
		color: #fff;
	}

    .control-actions {
		background-color: rgba(0,123,181,1);
		-webkit-box-shadow: 0 1px 7px #fff;
		box-shadow: 0 1px 7px #fff;
	}

    .myself__container__menu {
		-webkit-box-shadow: 2px 0 15px #333;
		box-shadow: 2px 0 15px #333;
	}
    
    .myself__data {
        background: rgb(55,71,79);
        background: linear-gradient(35deg, rgba(55,71,79,1) 0%, rgba(0,123,181,1) 50%, rgba(12,35,143,1) 100%);    
		border-bottom: 1px solid #f5f0f6;
	}

    .myself__data__info__role {
		color: #e3e3e3;
	}
    .myself__menu__link--active {
		color: #007BB5;
	}
    .myself__menu__link--active__soon {
		background-color: #007BB5;
		color: #fff;
	}
}

















































