@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kalam:wght@700&family=Lobster&family=Permanent+Marker&display=swap');
@import url('Desktop.css');
@import url('Tablets.css');
@import url('Smartphone.css');

body {
	margin: 0%;
	padding: 0%;
	font-family: sans-serif;
	font-size: 1rem;
	overflow: hidden;
}

/**
    PRELOADER
*/

.loader {
	display: flex;
	justify-content: center;
    
    height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: 5;
}

.loader__container {
    display: flex;
    flex-direction: column;
	align-items: center;
	align-self: center;
}

.loader__message {
	margin-top: 2.3rem;
}

.logo_preloader {
    align-items: center;

    width: 5rem;
    height: 5rem;
    position: absolute;
    padding: 0% 0% 0% 2%;
}

.welcome__objetives {
	margin-bottom: 10px;
}

.loader__hexagon {
	-o-animation: loaderHexagon 1.2s linear infinite forwards;
	-ms-animation: loaderHexagon 1.2s linear infinite forwards;
	-webkit-animation: loaderHexagon 1.2s linear infinite forwards;
	-moz-animation: loaderHexagon 1.2s linear infinite forwards;
	animation: loaderHexagon 1.2s linear infinite forwards;
	height: 57.74px;
	opacity: 1;
	-ms-filter: none;
	filter: none;
	position: relative;
	width: 100px;
}

.loader__hexagon:after,
.loader__hexagon:before {
	content: "";
	position: absolute;
	width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

.loader__hexagon:after {
	top: 100%;
	width: 0;
}

.loader__hexagon:before {
	bottom: 99%;
}

/**
    CONTAINERS
*/
.container__articles {
	overflow-x: hidden;
	overflow-y: scroll
}

.container__master {
	display: flex;
}

.container__master .container__myself{
	height: 100vh;
	position: relative;
	width: 30%;
}

.container__master .container__myself:after {
	content: "";
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1
}

.container__master .container__articles {
	display: flex;
	flex-direction: column;

	width: 70%;
	height: 100vh
}

.welcome, .portfolio,
.contact, .stack,
.academic, .work {
	display: none;
    align-items: center;
	position: relative;
	/* padding: 0 1rem; */
}

.welcome__title, .portfolio__title,
.contact__title, .stack__title,
.service__title, .academic__title,
.work__title, .card__title,
.title, .card_rol,
.profession__title, .position__title {
	letter-spacing: 1px;
	margin-bottom: .5rem;
	text-align: center;
}

.welcome__description,
.portfolio__description,
.contact__description,
.stack__description,
.work__description {
	margin: .5rem 0 0;
	text-align: justify;
}

.welcome__buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    width: 90%;
    padding: 1rem;
}

.cstm__button{
    padding: 1rem;
    text-align: center;
    margin: 0rem 1rem;
    text-decoration: none;
    border-radius: 8%;
}

.contact {
	flex-flow: column;
	align-items: center;
}

.contact__description {
	margin-bottom: 2rem
}



.portfolio {
	flex-direction: column;
	align-items: center;
}

.portfolio__blockquote {
	padding: .5rem .4rem;
	width: 80%;
	margin: 1rem auto;
}

.portfolio__works {
	display: flex;
	flex-flow: row wrap;
}

.portfolio__works__item {
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
	justify-content: space-between;
	margin: .2rem;
}

.portfolio__works__item__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
}

.portfolio__works__item__header__logo {
	width: 16%
}

.portfolio__works__item__header__title {
	letter-spacing: 1px;
	font-family: 'Rambla', monospace;
}

.portfolio__works__item__resume {
	margin: .5rem .5rem 0;
	padding-bottom: 1rem
}

.portfolio__works__tools {
	display: flex;
	justify-content: space-between;
	margin: 0 .5rem .5rem;
	padding-top: .5rem;
}

.welcome {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.welcome__description,
.contact__description,
.stack__description,
.academic__description,
.work__description {
	margin-bottom: 1.0rem;
}

.welcome__objetives,
.contact__services {
	margin: 0.5rem;
}

.img_construct {
	grid-area: img;
	max-height: 400px;
}

.welcome__container-stack {
	display: flex;
	flex-flow: column wrap;
	width: 65%;
}

.welcome__stack {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: .1rem 0;
	padding: .5rem;
}

.welcome__stack__title {
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase
}

.welcome__stack__tool {
	align-self: center;
	margin: 0 .5rem;
	min-height: 20%;
	display: inline-block;
}

.welcome__stack__tool {
    width: 80%;
    height: 100%;
}

.stack__description,
.work__description,
.academic_description {
	margin-right: 1rem;
}

.stack {
	flex-direction: column;
	align-items: center;
}

.stack__works__item {
	display: flex;
	flex-direction: column;
	flex-basis: 45%;
	justify-content: space-between;
	margin: .2rem;
}

.stack__works__item__header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
}

.stack__works__item__header__logo {
	width: 16%
}

.stack__works__item__header__title {
	letter-spacing: 1px;
	font-family: 'Rambla', monospace;
}

.stack__works__item__resume {
	margin: .5rem .5rem 0;
	padding-bottom: 1rem
}

.stack__works__tools {
	display: flex;
	justify-content: space-between;
	margin: 0 .5rem .5rem;
	padding-top: .5rem;
}

/**
    NAV
*/
.menu {
    display: flex;
    justify-content: flex-end;
	align-items: center;
/* 
	width: 100%;
	z-index: 1; */
}

.menu-list {
    display: flex;
    margin: 0% 1.5%;
    width: 90%;
}

.menu__description {
	padding: 10%;
	width: 70%;
    text-align: right;
}

.menu__description:hover {
	-moz-animation: 1.5s click 1;
	-webkit-animation: 1.5s click 1;
	-o-animation: 1.5s click 1;
}

.menu-list__link, .port-list__link {
	width: 100%;
	list-style-type: none;
	text-decoration: none;
	position: relative;
}

.menu-list__link--active .menu-list__item,
.port-list__link--active .port-list__item {
	padding: 0px;
}

.menu-list__link .menu-list__item,
.port-list__link .port-list__item {
	display: flex;
	align-items: center;
	padding: 0px;
}

.menu-list__link .menu-list__item .fa,
.menu-list__link .menu-list__item .fab {
	padding: 0px;
}

.control-actions {
	display: none
}


/**
CONTAINER MYSLEF
*/

.logo__dc{
    align-items: center;
}

.myself {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
}

.myself__container__avatar {
	margin: 0;
	width: 12rem;
	height: 12rem;
	border-radius: 50%;
}

.myself__avatar {
	background-image: url("../img/profile.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
	margin: 5%;
	width: 90%;
	height: 90%;
}

.myself__container__menu,
.myself__menu__action {
	display: none
}

.myself__profile {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	text-align: center
}

.myself__container-logo {
	margin: 0;
	width: 70%;
}

.myself__logo {
	width: 100%
}

.myself__fullname {
	margin: .9rem 0 0;
	font-weight: 300
}

/* .myself__description {
	margin: 0 0 .5rem;
	font-size: .9rem;
} */

.myself__footer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin-bottom: 2rem;
}

.myself__footer__by {
	text-align: center;
	letter-spacing: 1px;
}

.myself__footer__by p {
	margin: .4rem .4rem;
}

.myself_footer_phrase {
	/* font-size: 12px; */
}

.myself_footer_years {
	text-align: right;
	padding-right: 10px;
}

.myself__footer__social {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.myself__footer__social .myself__footer__link {
	padding: 0 .5rem;
	text-decoration: none;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.work_container,
.academic_container {
	width: 100%;
}

.work_country,
.study_country {
	width: 2rem;
	height: 2rem;
}

.contact__info {
	margin: 0 auto;
	padding-left: 10px;
	padding-top: 10px;
	position: relative;
	height: auto;
}

/*
    TEXT
*/

.gfont{
	font-family: 'Kalam', cursive;
}

.contact__label{
	font-weight: bold;
}

.welcome p {
	margin-inline-start: 5%;
    margin-inline-end: 5%;
}


/* .text-stack {
	margin: 4%;
	text-align: justify;
} */

.contact__data {
	margin: 0 auto;
	border-radius: 0.5rem;
	padding: 10px;
}

.direction__web{
	text-decoration: none;
}

.swal2-title {
    font-size: 1.5em;
    font-weight: 500;
}

.project__title {
    font-size: 1.5em;
}

.service__title{
	margin: 2%;
}

/**
    FORM
*/
.content__form {
	padding-top: 10px;
	position: relative;
	height: auto;
}

input, textarea {
	border: 0;
	outline: 0;
	background: transparent;
	position: relative;
	font-family: 'Raleway', sans-serif;
}

textarea {
	resize: none;
}

.form {
	max-width: 600px;
	margin: 0 auto;
	border-radius: 0.5rem;
}

.form__container {
	display: flex;
	flex-wrap: wrap;
}

.form__item {
	position: relative;
	width: 100%;
	padding: 1em;
}

.form__item .textarea {
	height: 10em;
}

.form__item .input,
.form__item .textarea {
	display: block;
	padding: 1em;
	width: 92%;
	transition: all 0.3s;
}

.form__item .input:valid+ .label,
.form__item .textarea:valid+ .label,
.form__item .input:focus+ .label,
.form__item .textarea:focus+ .label {
	top: 0.5em;
	left: 1em;
}

.form__item .label {
	position: absolute;
	top: 1.5em;
	left: 2em;
	transition: all 0.3s;
	font-weight: bold;
}

.form__item .btn__send {
	display: block;
	width: 100%;
	padding: 1em 0;
	cursor: pointer;
	transition: all 0.3s;
	border-radius: 5px;
}

.form__item .btn__send:active {
	transform: scale(0.97);
}


/*
 * CARDS
*/
.title__card {
    color: #fff;
    text-align: right;
    font-size: 25px;
  }
  
  .card {
    flex-grow: 0.1;
    height: 12rem;
    float: left;
    perspective: 500px;
    margin-top: 2rem;
    
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .card:hover .content,
  .card__small:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
    z-index: 1000;
  }
  
  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    text-align: center;
    border-radius: 5px;
    backface-visibility: hidden;
  }
  
  .front{
    background-size: cover;
    background-position: center center;
    color: #fff;
  }
  
  .back {
    color: white;
    transform: rotateY( 180deg );
    padding: .3em;
  }
  
  .title__card {
      color: #fff;
      font-size: 20px;
      border: solid #fff;
  }
  
  .title {
      font-size: 20px;
      position: absolute;
      padding-top: 0.5rem;
      padding-left: 2rem;
  }
  
  #icon{
      font-size: 20px;
  }
  
  .icon {
      text-align: center;
      font-size: 30px;
      padding: 3rem;
      padding-top: 2rem;
  }
  .text-stack {
      text-align: center;
  }
  
  .card_photo{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;	
      z-index: 0;
  }
  
  .card_rol{
      padding: 1%;
      text-align: center;
  }
  
  .card__title{
      text-align: center;
      margin: 0 auto;
      text-align: center;
  }
  
  .card_link{
      text-align: right;
      bottom: 0px;
      padding: 1%;
      width: 100%;
  }
  
  .card_tools{
      padding-left: 1%;
      text-align: left;
  }
  
  .card_more{
      text-align: right;
  }
  
  	

	.cstm_card{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: .5rem;
		margin: .5rem;
		border: solid #000 1px;
		color: #000;
		width: 18%;
		height: auto;
		text-align: center;
	}
  
  .card_more a:after {
      content: "\f061";
      font-family: FontAwesome;
      margin-left: -10px;
      opacity: 0;
      vertical-align: middle;
      transition: margin 0.3s, opacity 0.3s;
  }
  
  .card_more a:hover:after {
      margin-left: 5px;
      opacity: 1;
  }
  
  .card__small {
    display: inline-block;
    width: 8rem;
    height: 8rem;
    float: left;
    perspective: 500px;
    margin: 1rem 1rem;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
  }
  
  .container__small{
    width: 90%;
    padding-bottom: 10em;
    padding-left: 2rem;
  }
  
  .course__name{
    font-size: .8rem;
  }

  /**
 * SKILL
*/
.skill__log{
    padding: 1rem;
    border: solid 2px #2F4F5E;
    border-radius: 10px 0px 10px 0px;
}

.skill_content{
	display: flex;
    flex-flow: row wrap;
	justify-content: center;
    width: 100%;
}

.text__skill{
	display: block;
    vertical-align: middle;
    text-align: center;
}

.skill__item{
	margin: 0 .5rem;
}

.skill__log:hover{
	-moz-animation: 2.5s click 1;
	-moz-transform-origin:top center;
	-webkit-animation: 2.5s click 1;
	-webkit-transform-origin:top center;
	-o-animation: 2.5s click 1;
	-o-transform-origin:top center;
}

.skill__title{
    width: 80%;
    border-radius: 50px 0px 50px 0px;
}

.skill__title{
	font-size: 1.5rem;
}

.port__list{
	display: flex;
}

.port__menu{
	margin: 1rem auto;
}

.lenguage__log{
	width: 2rem;
}

.cstm__log{
    height: 2rem;
}

.port__menu{
    width: 80%;
	border: solid 2px #2F4F5E;
	/* border-radius: 50px 0px 50px 0px; */
}

.port-list__link .port-list__item {
    justify-content: space-between;
}


/**
 * PORTFOLIO
*/
.project__name {
	margin: .5rem 0;
}

.project__skill {
	margin: .5rem;
    text-transform: uppercase;
}

.project__descripcion {
	font-size: 1rem;
	line-height: 21px;
	margin: 1rem;
}

.card-container {
	background-color: #231E39;
    box-shadow: 0px 10px 20px -10px rgb(0 0 0 / 75%);
    padding-top: .5rem;
    position: relative;
    /* width: 28%; */
    /* max-width: 100%; */
    text-align: center;
    margin: 1rem;
}

.btn__code {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: .5rem 1rem;
}

.btn__code.bg {
	background-color: transparent;
	color: #fff;
}

.skills {
	background-color: #1F1A36;
    text-align: left;
    padding: .5rem;
    margin-top: .5rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.skills ul {
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
}

.skills ul li {
	border: 1px solid #2D2747;
	display: inline-block;
	font-size: 12px;
	margin: .3rem 0;
    padding: .3em;
}

.buttons{
	margin: 1rem;
}

.project__rol{
	margin: .5em;
}

.back span {
	padding: 1rem;
}
  
@media (max-width: 992px){
    .container__small{
      width: 85%;
      padding: 14rem 4rem;
    }
}

@media screen and (max-width:1023px) {
	body{
		overflow: hidden;
		position: relative
	}

	.blanketBody {
		display: none;
		height: 100vh;
		opacity: .4;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 4
	}

	.myself {
		position: relative;
		border: none;
	}
	.myself__container__avatar {
		width: 15rem;
		height: 15rem
	}
	.myself__fullname {
		/* font-size: 2rem */
	}
	.myself__profile {
		/* font-size: 1rem */
	}
	.myself__menu__action {
		display: block;
		position: absolute;
		left: .9rem;
		top: 1rem;
		z-index: 1
	}
	.myself__container__menu {
		display: block;
		height: 100vh;
		left: -100%;
		position: fixed;
		top: 0;
		width: 60%;
		z-index: 11;
	}
	.myself__data {
		display: flex;
		align-items: center;
		padding: 1.5rem 1.4rem;
	}
	
	.myself__data__avatar {
		background-image: url("../img/profile.jpg");
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50px;
		width: 100%;
		height: 70%
	}
	
	.myself__data__info__fullname, .myself__data__info__role {
		margin: 0;
		letter-spacing: .8px;
		/* font-size: 1rem; */
	}
	.myself__data__info__fullname{
		padding-left: 15px;
	}
	.myself__data__info__role {
		padding: 15px;
	}
	.myself__menu {
		padding: .5rem 1rem;
		margin: 0;
	}
	.myself__menu__item {
		display: flex;
		align-items: center;
	}
	.myself__menu__item:hover {
		-moz-animation: 1.0s flash 1;
		-webkit-animation: 0.7s flash 1;
		-o-animation: 0.7s flash 1;
	}
	.myself__menu__link {
		display: block;
		font-size: .5rem;
		padding: .5rem 0.5rem 0rem 0rem;
		text-decoration: none;
		text-transform: uppercase;
	}
	.myself__menu__link .fa-stack {
		/* font-size: .9rem; */
		margin-right: .5rem;
	}
	.myself__menu__link--active__soon {
		/* font-size: .6rem; */
		margin-left: .4rem;
		padding: .2rem .3rem;
		border-radius: 3px;
	}
	.myself__menu__link--active .material-icons {
		padding-right: .5rem;
	}

	.myself__footer {
		margin-bottom: 5rem;
	}

	.control-actions {
		height: 3.5rem;
		top: 0;
		position: absolute;
		width: 100vw;
		z-index: 9;
		padding-top: 1rem;
	}
	.control-actions__menu {
		padding: .5rem .9rem;
		font-size: 1.5rem;
	}
	.container__master {
		flex-direction: column;
	}
	.container__master .container__myself,
	.container__master .container__articles {
		width: 100%
	}
	.container__articles {
		display: none
	}

	.welcome, .portfolio, .contact, .stack, .work, .academic {
		display: none;
		margin: 4rem 3rem;
	}
	
	.menu {
		display: none
	}

	.contact__container{
		margin-bottom: 3%;
	}
  
	.welcome__stack__tool {
		width: 15%;
		margin: 0.5rem 0.5rem;
		text-align: center;
		padding: .5rem;
	}	
  
	.welcome__stack {
		align-items: flex-start;
		flex-direction: column;
	}
	.welcome__stack__title {
		/* font-size: 1rem; */
		margin-bottom: .2rem;
		padding-bottom: .2rem
	}

	.myself__container__menu {
		width: 70%
	}

	.card_tools, .card_more {
		width: 80%;
	}

	.card_link{
		display: inline-flex;
	}

	.card_tools{
		width: 70%;
	}
  
	.card_more{
		width: 20%;
	}

	.container__card {
		width: 100%;
	}

  .container__card {
		width: 100%;
		padding-bottom: 1em;
	}

	/* .card {
		width: 90%;
		margin-left: 4%;
		margin-right: 4%;
	} */

	.container__portfolio {
		margin-bottom: 10%;
	}

	.myself_footer_years {
		text-align: left;
	}
}



